services:
  # MongoDB
  mongodb:
    image: mongo:7.0
    container_name: crud-mongodb
    environment:
      MONGO_INITDB_DATABASE: crud_db
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - crud-network

  # Backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: crud-backend
    environment:
      PORT: 5000
      JWT_SECRET: tu_super_secreto_jwt_cambiame_en_produccion
      MONGO_URI: mongodb://mongodb:27017/crud_db
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    networks:
      - crud-network

  # Frontend
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: crud-frontend
    environment:
      - REACT_APP_API_URL=http://localhost:5000
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - crud-network

networks:
  crud-network:
    driver: bridge

volumes:
  mongodb_data:
